<div class="container revenueContainer">
  <div class="mt-4 revenue-row">
    <h4 class="revenueDetail">營收逐筆明細</h4>
    <div class="refreshContainer">
      <button class="btn btn-warning refresh">重新整理</button>
    </div>
    <table class="revenueTable mt-5">
      <thead>
        <tr class="list revenueList" style="text-align: center;">
          <th class="revenueHeadName"  style="padding: 10px 0 10px 0;">品名</th>
          <th class="revenueHeadNumbers">數量</th>
          <th class="revenueHeadAmount">金額</th>
          <th class="revenueHeadTable">單號</th>
        </tr>
      </thead>
      <tbody id="revenueShowList">

      </tbody>
    </table>
  </div>
</div>

<script src="/javascript/revenue.js"></script>