.title {
  display: flex;
  justify-content: center;
}

.addBtn {
  display: flex;
  justify-content: flex-end;
}

h2 {
  color: darkblue;
}

[data-pos="delete-product"] {
  display: inline-block;
  text-align: center;
  color: #999;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 1;
}

[data-pos="delete-product"]:hover {
  color: #333;
}
